<h2>{{comp_title}}</h2>

<ul class="heroes">
  <li *ngFor="let item of items"
    [class.selected]="item === selectedHero"
    (click)="onSelect(item)">
    <span class="badge">{{item.id}}</span> {{item.name}} : {{item.uuid}}
  </li>
</ul>


<div *ngIf="selected_item">
 
  <h2>{{selected_item.name | uppercase}} Details</h2>
  <div><span>Item ID: </span>{{selected_item.id}}</div>
  <div><span>Item UUID: </span>{{selected_item.uuid}}</div>
  <div>
    <label>Item name:
      <input [(ngModel)]="selected_item.name" placeholder="name"/>
    </label>
  </div>
 
</div>